@import "tailwindcss";

.main-container {
  display: flex;
width: 1920px;
height: 1080px;
padding: 15px;
align-items: center;
gap: 15px;
}

.mini-main-container {
   display: flex;
flex-direction: column;
align-items: flex-start;
gap: 15px;
flex: 1 0 0;
border: 2px solid #d11616;
}

.nav-bar-contianer {
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
border : 2px solid #0f0f10;
}

.nav-bar-contianer2{
display: flex;
padding-top: 22px;
flex-direction: column;
align-items: center;
gap: 12px;
flex: 1 0 0;
}

.segment-container {
 display: flex;
padding: 0 2px 4px 2px;
flex-direction: column;
align-items: center;
gap: 4px;
align-self: stretch;
}

.segment-icon-container {
display: flex;
padding: 4px 16px;
justify-content: center;
align-items: center;
/* border : 2px solid #0f0f10; */

border-radius: 16px;
background-color: #dbe1ff;


}
.icon{
width: 24px;
height: 24px;
}

.segment-label {
 color: var(--M3-sys-light-on-surface-variant, #45464F);
text-align: center;

/* M3/label/medium */
font-family: Roboto;
font-size: 8px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.5px;
padding:  0px 4px;
}

.nav-bar-contianer3 {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 16px;
align-self: stretch;
}

/* top nav bar items and container */
.top-nav-bar-container {
display: flex;
height: 56px;
align-items: center;
gap: 15px;
align-self: stretch;
}

.logo-container {
    display: flex;
width: 450px;
align-items: center;
gap: 15px;
}

.global-actions-container {
    display: flex;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}

.global-search-container {
    display: flex;
width: 590px;
height: 56px;
min-width: 360px;
max-width: 720px;
align-items: center;
gap: 4px;
}


/* content view and containter */


.content-container{
display: flex;
height: 979px;
align-items: flex-start;
gap: 15px;
align-self: stretch;
}

.list-container {
    display: flex;
width: 450px;
flex-direction: column;
align-items: center;
gap: 15px;
align-self: stretch;
}

.list-filter-container{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}

.list-view {
    display: flex;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}

.content-view-container {
    flex: 1 0 0;
align-self: stretch;
}